<div ng-init="getTotalSpent()">
<!--NavBar-->
<div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
        <div class="container">  
            <!--Menu Icon-->
            <div class="nav">
                <a class="btn btn-primary pull-left" href="#">Home</a>    
            </div>
            </ul>  
        </div>  
    </div>  
</div>

<div class="container-fluid" ng-repeat="r in receipts">
    <!---Item 1-->
    <div class="container">
        <div class="row-fluid">
            <div class="galleryDisplay">
                <img src={{r.item_images[0].url}}/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class ="row-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tr>
                    <td> {{r.date}} </td>
                    <td> ${{r.total}} </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>