<!--NavBar-->
<div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
        <div class="container">  
            <!--Menu Icon-->
            <div class="nav">
                <a class="btn btn-primary pull-left" href="#">Cancel</a>    
                <a class="btn btn-primary pull-right" href="#">Done</a>    
            </div>
            </ul>  
        </div>  
    </div>  
</div>
<div class="container-fluid">

    <!--Photo Containers-->
    <div class="container">
        <div class="row-fluid">
            <div class="well span6">
                Receipt Photo
            </div>
            <div class="well span6">
                Product Photo
            </div>  
        </div>
    </div>

    <!--Receipt Information-->
    <div class="container">
        <div class="well">
            Receipt Information
        </div>
    </div>
</div>