    <div class="sidetap">
      <div class="stp-nav">
        <div>
          <nav>
            <a href="#" class="selected">Homepage</a>
            <a href="#gallery.html">Transaction Gallery</a>
            <a href="#monthly.html">Monthly Expenditure</a>
          </nav>
        </div>
      </div>

      <div class="stp-content" id="content">
        <header class="stp-fake-header">&nbsp;</header>
        <div class="stp-overlay nav-toggle">&nbsp;</div>

        <!-- Content Divs Look Like This -->
        <div class="stp-content-panel">
          <header>
            <a href="javascript:void(0)" class="header-button menu"><span>Menu</span></a>
            <h4>KaChing</h4>
          </header>
          <div class="stp-content-frame">
            <div class="stp-content-body">
                <!--Content goes here.-->
				<div class="container-fluid" style="margin-top: 50px;">
				
					<!-- Record a Purchase Button-->
					<div class="container">
						<div class="row-fluid">
							<a class="btn btn-success btn-large span12" type="button" href="#"><b>Record a Purchase</b></a>
						</div>
					</div>
					</br>

					<!-- Budget Info-->
					<div class="container">
						<div class="table table-bordered">
							<thead>
								<tr>
									<th>Budget</th>
									<th>Amount Spent</th>
									<th>Amount Remaining</th>
								</tr>
							</thead>
						</div>
					</div>
					</br>

					<!-- Graph-->
					<div class="container">
						<div class="row-fluid">
							<div class="well">
								Graph Here
							</div>
						</div>
					</div>

				</div>				
			
            </div>
          </div>
        </div>
        <!-- End content Div -->
      </div>
    </div>
	
	<script type="text/javascript">
      var st = sidetap();
      $(".header-button.menu").on("click",st.toggle_nav)
    </script>
