<div class="sidetap">
  <div class="stp-nav">
    <div>
      <nav>
        <a href="#" class="selected">Homepage</a>
        <a href="#gallery.html">Transaction Records</a>
        <a href="#monthly.html">Expense Breakdown</a>
      </nav>
    </div>
  </div>

  <div class="stp-content" id="content">
    <header class="stp-fake-header">&nbsp;</header>
    <div class="stp-overlay nav-toggle">&nbsp;</div>

    <!-- Content Divs Look Like This -->
    <div class="stp-content-panel">
      <header>
        <a href="javascript:void(0)" class="header-button menu"><span>Menu</span></a>
        <h4>Ka-Ching</h4>
      </header>
      <div class="stp-content-frame">
        <div class="stp-content-body">
            <!--Content goes here.-->
			<div class="container" style="padding-top: 50px;">
			
				<!-- Record a Purchase Button-->
				<div class="container">
					<div class="row-fluid" style="margin: 0px auto 0px auto; text-align: center;">
					</br>
						<a class="btn btn-success btn-large span1" href="#scan_receipt.html"><b>Record a Purchase</b></a>
					</div>
				</div>
				</br>

				<!-- Budget Info-->
				<div class="container">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2">Budget</th>
								<th>Amount Spent</th>
								<th>Amount Remaining</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>${{user.current_budget}}</td>
                                <td><a href="#myModal" role="button" id="libButton" class="btn btn-inverse" data-toggle="modal">Edit</a></td>
								<td>${{getTotalSpentInAll()}}</td>
								<td>${{user.current_budget - getTotalSpentInAll()}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				</br>

				<!-- Graph-->
				<div class="container">
					<div class="well-fluid">
						<div id="graph" style="width:100%; height:280px;"></div>
					</div>
				</div>

			</div>				
		
        </div>
      </div>
    </div>
    <!-- End content Div -->
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit Monthly Budget</h3>
    </div>
    <div class="modal-body">
        Enter new value for Monthly Budget:<input type="text" id="monthly_budget" ng-model="user.current_budget"/>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="draw_chart()" ng-click="saveMonthBudget(user.current_budget)">Confirm</button>
    </div>
</div>

<script type="text/javascript">
	// console.log($("#expenditure").text())
	console.log();
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'graph',
            type: 'spline',
            marginRight:0
        },
        title: {
            text: 'Budget for March 2013',
        },
        xAxis: {
            // offset: -42,
            lineWidth: 1,
            tickWidth: 1,
            tickInterval: 7,
            type: 'categories'
            ,
            categories: angular.element($("body")).scope().getDaysOfMonth(),
            title: {text: "Day"},
            labels: {enabled:true} 
        },
        yAxis: {
            title: {
                text: '$'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    'Day ' + this.x +': '+"$"+ this.y;
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'right',
            x: -100,
            y: 200,
            borderWidth: 0
        },
        plotOptions: {
            spline: {
                marker: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'Cumulative Spent',
            data: angular.element($("body")).scope().getMonthSpendPlot(2)
        }]
        // , {
        //     name: 'Budget',
        //     data: angular.element($("body")).scope().getMonthBudgetPlot(2)
        // }
    });
</script>

<script type="text/javascript">
  var st = sidetap();
  $(".header-button.menu").on("click",st.toggle_nav)
</script>
