<div class="container-fluid">
    <!-- Record a Purchase Button-->
    <div class="container">
        <div class="row-fluid">
            <button class="btn btn-success btn-large span12" type="button"><b>Record a Purchase</b></button>
        </div>
    </div>
    </br>

    <!-- Budget Info-->
    <div class="container">
        <div class="row-fluid">
            <div class="well span4">
                Budget
            </div>
            <div class="well span4">
                Amount Spent
            </div>
            <div class="well span4">
                Amount Remaining
            </div>
        </div>
    </div>
    </br>

    <!-- Graph-->
    <div class="container">
        <div class="row-fluid">
            <div class="well">
                Graph Here
            </div>
        </div>
    </div>

</div>