
<!--NavBar-->
<div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
        <div class="container">  
            <!--Menu Icon-->
                <a class="btn btn-navbar pull-left" href="#home.html">Home</a>    
                <a class="btn btn-navbar pull-right" href="#">Calendar</a>    
        </div>  
    </div>  
</div>


<!-- <span id="calendar">
	<div class="well">
		Calendar Area
	</div>
</div> -->

<div class="container">
	<table class="table">
		<tr>
			<td>Budget</td>
			<td>$500.00</td>
			<td>Edit</td>
		</tr>
		<tr>
			<td>Amt Spent</td>
			<td>$150.50</td>
			<td>Edit</td>
		</tr>
		<tr>
			<td>Amt Remain</td>
			<td colspan="2">$349.50</td>
		</tr>
	</table>
    <div class="well">
        Graph Area               
    </div>
</div>


