<!--NavBar-->
<div class="navbar navbar-fixed-top">  
	<div class="navbar-inner">  
		<div class="container">  
			<!--Menu Icon-->
			<a class="btn btn-navbar pull-left" href="#home.html">Home</a>    
			<a class="btn btn-navbar pull-right" href="#">Calendar</a>    
		</div>  
	</div>  
</div>

<!-- <span id="calendar">
	<div class="well">
		Calendar Area
	</div>
</div> -->

<div class="container">
	<table class="table">
		<tr>
			<td>Budget</td>
			<td>${{user.monthly_budget}}</td>
			<td>Edit</td>
		</tr>
		<tr>
			<td>Amt Spent</td>
			<td ng-init="getTotalSpent()">${{total_spent}}</td>
			<td>Edit</td>
		</tr>
		<tr>
			<td>Amt Remain</td>
			<td colspan="2">${{user.monthly_budget - total_spent}}</td>
		</tr>
	</table>
	<div class="well">
		<div id="graph" style="width:100%; height:200px;"></div>
	</div>
</div>
<script type="text/javascript">
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'graph',
            type: 'line',
            marginRight: 0,
            marginBottom: 0
        },
        title: {
            text: 'Budget for ?',
            x: 0 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: '$'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ this.y +'°C';
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'right',
            x: -10,
            y: 100,
            borderWidth: 0
        },
        series: [{
            name: 'Cumulative Spent',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'Budget',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }]
    });
</script>

