<!--NavBar-->
<div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
        <div class="container">  
            <!--Menu Icon-->
                    <a class="btn btn-primary pull-left" href="#">Cancel</a>   
                    <a class="btn btn-primary pull-right" ng-click="saveReceipt(chosen_receipt)" href="#/gallery.html">Done</a>       
        </div>  
    </div>  
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row-fluid">
            <table>
                <tr>
                    <td>
                        <div class="receiptPhotoArea"><img src={{chosen_receipt.image}}></div>
                    </td>
                    <td width="10px"></td>
                    <td>
                        <div class="receiptPhotoArea">Item Photo</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row-fluid">
            <table class="table table-bordered">
                <tr>
                    <td width="50"><b>Date</b></td>
                    <td>{{chosen_receipt.date}}</td>
                </tr>
                <tr>
                    <td width="50"><b>Location</b></td>
                    <td>{{chosen_receipt.location}}</td>
                </tr>
                <tr>
                    <td width="50"><b>Price</b></td>
                    <td>${{chosen_receipt.total}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Items Purchased</b></td>
                </tr>

                <tr height="85">
                    <td colspan="2">
                        <ul>
                          <li ng-repeat="item in chosen_receipt.items">
                            {{item.name}} {{item.quantity}}qty x ${{item.price}}
                          </li>
                        </ul>
                    </td>
                </tr>                        
            </table>
        </div>
    </div>
</div>