<!--NavBar-->
<div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
        <div class="container">  
            <!--Menu Icon-->
            <ul class="nav">
            <div class="nav-collapse">
                <a class="btn btn-primary pull-left" href="#">Cancel</a>       
            </div>
            </ul>  
        </div>  
    </div>  
</div>

<div class="container-fluid">
    <div class="container">
        <div class="well">
            Camera Capture Area                   
        </div>
        <div class="row-fluid" style="text-align:center";>
            <a class="btn btn-primary btn-large" href="#/gallery.html"><i class="icon-camera"></i></a>
        </div>
    </div>
</div>